/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap.scss";

.mainWrapper {
    margin-top: 60px;
    padding-bottom: 100px;
}

a {
    text-decoration: none !important;
    color: #000;
}
